button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Standard property added for compatibility */
}
